header{
    width: ;
    height: ;
  background-color: black;
}
.d0{
    background-color: black;
    width: 1500px;
    height: 5000px;
}
.p1{
    position: absolute;
width: 121px;
height: 33px;
margin-left: 165px;
margin-top: 33px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;

/* #F1F1F1 */
color: #F1F1F1;
}
.l1{
    width: 49px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

/* #EEBF63 */

color: #EEBF63;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin-top: 38px;
margin-left: 935px;
}
.l2{
    width: 49px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

/* #F1F1F1 */

color: #F1F1F1;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin-left: 1024px;
margin-top: -25px;
}
.l3{
    width: 56px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

/* #F1F1F1 */

color: #F1F1F1;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
margin-top: -25px;
margin-left: 1113px;
}
.l4{
    width: 66px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

/* #F1F1F1 */

color: #F1F1F1;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
margin-top: -25px;
margin-left: 1209px;
}
.p2{
    position: absolute;
width: 54px;
height: 36px;
margin-left: 165px;
margin-top: 177px;

/* Heading 4 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */


/* #E1E1E1 */

color: #E1E1E1;
}
.p3{
    position: absolute;
width: 475px;
height: 124px;
margin-left: 165px;
margin-top: 229px;

/* Heading 1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
/* or 129% */


/* #F1F1F1 */

color: #F1F1F1;

}
.i1{
    position: absolute;
width: 540px;
height: 540px;
margin-left: 750px;
margin-top: 177px;

background: url(1.jpg);
}
.p4{
    position: absolute;
width: 475px;
height: 90px;
margin-left: 165px;
margin-top: 409px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


/* #F1F1F1 */

color: #F1F1F1;
}
.b1{
    position: absolute;
margin-left: 39.74%;
margin-right: 18.54%;
margin-top: 29.09%;
bottom: 27.27%;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
position: absolute;
bottom: 0%;

/* #CD921E */

background: #CD921E;
border-radius: 10px;
margin-left: 165px;
}
.b2{
    box-sizing: border-box;

position: absolute;
margin-left: 275px;
margin-top: 0%;
bottom: 0%;

/* #CD921E */

border: 2px solid #CD921E;
border-radius: 10px;
background-color: #E1E1E1;
}
.i2{
    position: absolute;
width: 1110px;
height: 584px;
margin-left: 165px;
margin-top: 850px;

/* #2F2F2F */

background: #2F2F2F;
border-radius: 45px;
}
.p5{
    position: absolute;
width: 377px;
height: 62px;
margin-left: 165px;
margin-top: 1534px;

/* Heading 1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
/* identical to box height, or 129% */


/* #F1F1F1 */

color: #F1F1F1;
}
.i3{
    position: absolute;
width: 540px;
height: 756px;
margin-left: 165px;
margin-top: 1652px;

background: url(image.png);
border-radius: 25px;
}
.i4{
    position: absolute;
width: 540px;
height: 756px;
margin-left: 735px;
margin-top: 1652px;

background: url(.jpg);
border-radius: 25px;
}
.p6{
    position: absolute;
width: 329px;
height: 62px;
margin-left: 556px;
margin-top: 2598px;

/* Heading 1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
/* identical to box height, or 129% */

display: flex;
align-items: center;
text-align: center;

/* #F1F1F1 */

color: #F1F1F1;
}
.i5{
    box-sizing: border-box;

position: absolute;
width: 239.75px;
height: 313px;
margin-left: 165px;
margin-top: 2710px;

background: url(3.jpg);
border-radius: 45px;
}
.i6
{
    box-sizing: border-box;

position: absolute;
width: 239.75px;
height: 313px;
margin-left: 454.75px;
margin-top: 2710px;
background: url(4.jpg);
border-radius: 45px;
}
.i7{
    box-sizing: border-box;

position: absolute;
width: 239.75px;
height: 313px;
margin-left: 744.5px;
margin-top: 2710px;

background: url(5.jpg);
border-radius: 45px;
}
.i8{
    box-sizing: border-box;

position: absolute;
width: 239.75px;
height: 313px;
margin-left: 1034.25px;
margin-top: 2710px;

background: url(6.jpg);
border-radius: 45px;
}
.p7{
    position: absolute;
width: 240px;
height: 90px;
margin-left: 166px;
margin-top: 3093px;

/* Body Text */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

text-align: center;

/* #E1E1E1 */

color: #E1E1E1;
}
.p8{
    position: absolute;
width: 196px;
height: 36px;
margin-left: 188px;
margin-top: 3050px;

/* Heading 4 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;

/* #F1F1F1 */

color: #F1F1F1;
}
.i9{
    box-sizing: border-box;

position: absolute;
width: 1110px;
height: 313px;
margin-left: 165px;
margin-top: 3283px;

/* #CD921E */

background: #CD921E;
border-radius: 25px;
}.i10{
    width: 1013.98px;
height: 72.98px;

color: #828282;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin-top: 3696px;
margin-left: 213px;
}
.i11{
    box-sizing: border-box;

position: absolute;
width: 1440px;
height: 683px;
margin-left: 0px;
margin-top: 63px;

/* #386163 */

background: #386163;
}
.y1{
    position: absolute;
width: 242px;
height: 46px;
margin-left: 165px;
margin-top: 805px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 46px;
/* identical to box height, or 128% */

display: flex;
align-items: center;

/* #F1F1F1 */

color: #F1F1F1;
}
.i12{
color: #386163;
position: absolute;
margin-left: 45.32%;
margin-right: 24.32%;
margin-top: 810px;
margin-bottom: ;
/* #F1F1F1 */
}
.i13{
    color: #386163;
position: absolute;
margin-left: 50.32%;
margin-right: 24.32%;
margin-top: 810px;
margin-bottom: ;
/* #F1F1F1 */
}
.i14{
    color: #386163;
position: absolute;
margin-left: 55.32%;
margin-right: 24.32%;
margin-top: 810px;
margin-bottom: ;
/* #F1F1F1 */
}
.t1{
    position: absolute;
width: 141px;
height: 36px;
margin-left: 1102px;
margin-top: 810px;

/* Heading 4 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */


/* #F1F1F1 */

color: #F1F1F1;
}
.i15{
    position: absolute;
    margin-left: 1302px;
    margin-top: 810px;
}